:root {
  --primary-text-color: #757575;
  --head-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --primary-background-color: #f5f5f5;
  --logo-black-color: #000;
  --border-color: #eeeeee;
  --icon-color: #AFB1B8;
  --policy-link-color: #2196F3;
}
h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-one {
  padding-top: 94px;
}

/** основной контейнер **/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

/* Логотип верхний */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo-black {
  color: var(--logo-black-color);
}

/* убираем точки списков */
.list {
  list-style: none;
  padding: 0;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* Header */

.nav-flex {
  display: flex;
  align-items: center;
}

.header {
  padding: 24px 15px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-white-color);
}

.header-nav {
  display: flex;
}

.header-nav-link {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative; 

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Подчеркивание активной страницы */
.current::after  {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
  bottom: -30px;
}

.header-nav-item {
  margin-right: 50px;
  
}
.header-nav-list {
  display: flex;
  align-items: center;
  
}
.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-item-mail {
  margin-right: 30px;
}

.header-contact-mail,
.header-contact-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  fill: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-contact-mail:hover,
.header-contact-tel:hover,
.header-nav-link:focus,
.header-contact-mail:focus,
.header-contact-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-telmail {
    margin-right: 10px;
    padding: 0;
        vertical-align: middle;
}


/* Раскраска секций (первая секция или единственная на листе - то белая) */
.section-one {
  background-color: var(--primary-white-color);
}
.section:nth-child(2n + 1) {
  background-color: var(--primary-white-color);
}
.section:nth-child(2n) {
  background-color: var(--primary-background-color);
}

.section:only-child {
  background-color: var(--primary-white-color);
}

/* Герой */
.hero {
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  color: var(--primary-white-color);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 30px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* Кнопка героя*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/* Особенности */

.list-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* Заголовки */
.list-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
}

.list-sec .list-head {
  width: 270px;
}

.list-icon {
  display: flex;
  height: 120px;
  background-color: var(--button-background-color);
  border-radius: 4px;
  align-items: center;
  margin-bottom: 30px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  justify-content: center;
}

.client-list .client-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.client-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  border: 1px solid transparent;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-list {
    display: block;
      content: "";
      width: 170%;
      height: 92%; 
      padding: 16px 32px;
      background-position: center;
      background-color: var(--primary-white-color);
      border-radius: 4px;
      align-items: center;
      fill: var(--icon-color);
      cursor: pointer;
      transition-property: fill, color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-list:hover .client-logo,
.client-icon-list:focus .client-logo {
        color: var(--accent-color);
        fill: var(--accent-color);
}

.client-icon-list:hover,
.client-icon-list:focus {
        border: 1px solid var(--accent-color);
}

/* Подписи под заголовками */
.list-text {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 0.03em;
  width: 270px;
}

/* Деятельность */
.activity-header {
  padding-bottom: 50px;
}

.activity-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.activity-item {
  display: flex;
}

.activity-list .activity-item {
  position: relative;
}

.activity-item img {
  display: block;
}

.activity-text {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/*-- Team -- */

.team-item {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow:   0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-item-figcaption {
  width: 270px;
}
.team-header {
  padding-bottom: 50px;
}

.team-header,
.activity-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-header {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-item-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 16px;
}
.team-item-figure {
  margin: 0;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

/* Кнопки на карточках Наша Команда */
.team-social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 30px;
  justify-content: center;
}

.icon-linc {
  border-radius: 100%;
  display: flex;
  fill: var(--icon-color);
  width: 44px;
  height: 44px;
  padding: 12px;
  align-items: center;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-linc:hover,
.icon-linc:focus {
fill: var(--primary-white-color);
cursor: pointer;
}

/*-- Футер -- */
.footer {
  background-color: var(--hero-background-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex ;
}

.logo-header {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-bottom: 20px;
  margin-right: 93px;
}

.logo-white {
  color: var(--primary-white-color);
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-list-item {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-mail {
  margin-bottom: 9px;
}

.address-list-telmail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-telmail:hover,
.address-list-item:focus,
.address-list-telmail:focus {
  color: var(--accent-color);
}

/* Иконки-ссылки на соцсети футера */
.flex {
  display: flex;
  justify-content: flex-start;
}

.footer-social-header {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 20px;

}
.footer-social {
    margin-left: 70px;
    margin-top: 12px;
}

.footer-social>.team-social>.icon-linc {
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.team-social>.icon-linc:hover,
.team-social>.icon-linc:focus {
  background-color: var(--accent-color);
}

/* Форма запроса футера */
.form-field {
      margin-left: 53px;
      margin-top: 12px;
}


.form-field {
  display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    text-transform: uppercase;
}

.formf-field-head input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} 

.formfut-subscribe {
  display: inline-flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);
  align-items: center;
  text-align: center;
  fill: var(--primary-white-color);
  margin-left: 10px;
  cursor: pointer;
}

.formfut-subscribe svg {
  margin-left: 10px;
}

input#email {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.form-field-head {
  display: inline-flex;
  margin-top: 20px;
}


/* modal */

.modal {
position: absolute;
width: 528px;
height: 581px;
top: 50%;
left: 50%;
padding: 40px;
transform: translate(-50%, -50%);
background-color: var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
            0px 1px 1px rgba(0, 0, 0, 0.14), 
            0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

}

.modal-button .icon-close {
width: 17px;
height: 17px;
line-height: 100%;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--logo-black-color);
  background-color: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-input {
  padding-left: 42px;
  display: block;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
     transition-property: border;
     transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
    display: flex;
    position: relative;
    flex-direction: column;
    color: var(--primary-text-color);
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
}

.form-block-agree  {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
  }

.form-block svg {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 11px;
    left: 12px;
    fill: var(--head-text-color);
  }

.form h2 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--head-text-color);
    text-align: center;
}

.form-block {
  margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-input:focus,
.form-input-textarea:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.form-input:focus + svg {
  fill: var(--accent-color);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-textarea {
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-block-agree {
  display: flex;
  vertical-align: middle;
}

.form-button {
  display: block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  display: block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

.policy-link {
color: var(--policy-link-color);
}

.checkbox-inp {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 7px;
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-checkbox:checked+.icon-chek {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

/*-----------------------------------------*/
/*-- +++++++++++++ПОРТФОЛИО+++++++++++ -- */

.radio {
  background-color: var(--button-background-color);
  color: var(--head-text-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  font-size: 16px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.radio:hover,
.radio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
}

.radiobutton {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio-list-title {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-list-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}

.cards {
  display: block;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 2px rgba(0, 0, 0, 0.14),
              0px 2px 2px rgba(0, 0, 0, 0.2);
}

.figure {
  width: 370px;
  background-color: var(--primary-white-color);
  margin: 0;
  box-sizing: content-box; 
}

.figure-caption {
  border: 1px solid var(--border-color);
  border-top: transparent;
  padding: 20px 24px;
}

.figure  img {
  display: block;
}

/* слайд на карточку */

.cards-photo {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover .overlay{
  transform: translate(0);
}
